{% extends 'layouts/base.html' %}

{% block content %}

<h1>Bienvenido a la pagina de tareas</h1>
<p>Esta es la pagina de tareas</p>


{# note: commented-out template because we no longer use this
    {% for user in users %}
        ...
    {% endfor %}
#}


{% for task in tasks %} 



<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
        
                {% if task.done == True %}
                <div class="alert alert-success" role="alert">
                    Tarea completada
                </div>
                {% else %}
                <div class="alert alert-danger" role="alert">
                    Tarea incompleta
                </div>
                {% endif %}
                <p class="card-text">{{ task.description }}</p>
                <p class="card-text">{{ task.project }}</p>
                <a href="#" class="btn btn-danger">delete</a>
                <a href="#" class="btn btn-warning">update</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
        
                {% if task.done == True %}
                <div class="alert alert-success" role="alert">
                    Tarea completada
                </div>
                {% else %}
                <div class="alert alert-danger" role="alert">
                    Tarea incompleta
                </div>
                {% endif %}
                <p class="card-text">{{ task.description }}</p>
                <p class="card-text">{{ task.project }}</p>
                <a href="#" class="btn btn-danger">delete</a>
                <a href="#" class="btn btn-warning">update</a>
            </div>
        </div>
    </div>
</div>



{% endfor %}


{% endblock %}